---
layout: default
---
<h1>{{ page.title }}</h1>

<p>
  {% assign authorCount = page.authors | size %}
  {% if authorCount == 0 %}
      No author
  {% elsif authorCount == 1 %}
      {% assign thisAuthor = page.authors | first %}
      
      {% assign author = site.authors | where: 'short_name', thisAuthor | first %}
      <a href="{{ author.url }}">{{ author.first_name }}</a>

  {% elsif authorCount == 2 %}
      {% assign thisAuthor = page.authors | first %}
      {% assign author = site.authors | where: 'short_name', thisAuthor | first %}
      <a href="{{ author.url }}">{{ author.first_name }}</a> and
      {% assign thisAuthor = page.authors | last %}
      {% assign author = site.authors | where: 'short_name', thisAuthor | last %}
      <a href="{{ author.url }}">{{ author.first_name }}</a>
      
  {% else %}
      {% for thisAuthor in page.authors %}
          {% if forloop.first %}
              {% assign author = site.authors | where: 'short_name', thisAuthor | first %}
              <a href="{{ author.url }}">{{ author.first_name }}</a>,
          {% elsif forloop.last %}
              and
              {% assign author = site.authors | where: 'short_name', thisAuthor | first %}
              <a href="{{ author.url }}">{{ author.first_name }}</a>
          {% else %}
              {% assign author = site.authors | where: 'short_name', thisAuthor | first %}
                <a href="{{ author.url }}">{{ author.first_name }}</a>,
          {% endif %}
      {% endfor %}
  {% endif %}
  </p>

{{ content }}