---
layout: default
---
<h1>{{ page.title }}</h1>
<h1>{{ page.name }}</h1>
<h2>{{ page.position }}</h2>

<p>
  {% assign authorCount = page.authors | size %}
  {% if authorCount == 0 %}
      No author
  {% elsif authorCount == 1 %}
      {{ authorCount }}
      {% assign thisAuthor = page.authors | first %}
      {{ thisAuthor }}
      {{ authorCount }}
      
      {% assign author = site.authors | where: 'short_name', thisAuthor | first %}
      <a href="{{ author.url }}">{{ author.first_name }}</a>
      {{ page.authors | first }}
      
  {% else %}
      {% for thisAuthor in page.authors %}
          {% if forloop.first %}
              {% assign author = site.authors | where: 'short_name', thisAuthor | first %}
              <a href="{{ author.url }}">{{ author.first_name }}</a>
          {% elsif forloop.last %}
              and
              {% assign author = site.authors | where: 'short_name', thisAuthor | first %}
              <a href="{{ author.url }}">{{ author.first_name }}</a>
          {% else %}
              , {% assign author = site.authors | where: 'short_name', thisAuthor | first %}
                <a href="{{ author.url }}">{{ author.first_name }}</a>
          {% endif %}
      {% endfor %}
  {% endif %}
  </p>

{{ content }}